.services{
    background-image: url("https://content3.jdmagicbox.com/comp/nashik/o3/0253px253.x253.000405926410.a1o3/catalogue/birla-eye-centre-college-road-nashik-hospitals-ak06k4w7b7.jpg?clr=3d293d");
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    /* height: ; */
    opacity: 0.9;
}